<!-- Wrapper -->
<div id="wrapper">

<!-- Translator -->
<div id="google_translate_element"></div>
<script type="text/javascript">
   function googleTranslateElementInit() {
       new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
   }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
	<a href="#" class="flag_link ru" data-lang="en"><img class="img-fluid" src="assets\images\united-kingdom.png" alt=""> english</a>
	<a href="#" class="flag_link ru" data-lang="ru"><img class="img-fluid" style="padding-right:10px;" src="assets\images\russia.png" alt="">русский</a>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
